#lowerBorder{
  border-color: darkblue;
  border-width: 1px;
  background-color: #fafafa;
}

#mainBorder{
  border-color: black;
  border-width: 2px;
  background-color:  #ffc107;

}

#starBorder{
  border: 1px solid grey;
  border-radius: 10px;
  background-color:  #ffffff;
}

.rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 2px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  font-size: 30px;
  -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.rating .filled {
  color: #ffff00;
}

.starSize {
	font-size: 20px;
}

#tableHeadSize{
  font-size: 18px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th{
  background-color: gainsboro;
}

.inactiveLink {
   pointer-events: none;
   cursor: default;
}