#lowerBorder{
  border-color: darkblue;
  border-width: 1px;
  background-color: #fafafa;
}

#mainBorder{
  border-color: black;
  border-width: 2px;
  background-color:  #ffc107;

}

.rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 2px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  font-size: 30px;
  -webkit-text-stroke: 1px black;
}

.rating .filled {
  color: #fdeb06;
}

.starSize {
	font-size: 20px;
}

.rating .filled {
  color: #ffd700;
}

#tableHeadSize{
  font-size: 18px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th{
  cursor: pointer;
  background-color: #ffc107;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

.menuTitle {
  font-size: 26px;
  font-weight: bold;
}

/* Set a style for all buttons */
.delButton {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
