<link rel="stylesheet" href="styles/about.css">
<h1>About Us!</h1>
<br>
<p>This app allows you to discover a vast range of restaurants catered to your personal food preferences:</p>
  <ul>
    <li>Search for restaurants by name, cuisine or location. Check out menus, prices and photos before you go.</li>
    <li>Create an account to save your preferred cuisines and dietary requirements. Find your next meal even faster.</li>
    <li>Share your experiences by reviewing the restaurants you've been to, and help others make informed decisions.</li>
  </ul>
<br>
