<link rel="stylesheet" href="styles/about.css">
<h1>About Us</h1>
<p>Fine Food Finder is an innovative food finding application that allows you to discover a vast range of restaurants. It is available for any user and is completely free to use.</p>
<p style="text-align:center;">
    <img class="project-image" src="images/FineFoodFinderLogo.png">
</p>

<h2>Usage Guide</h2>
<h3>Searching for restaurants</h3>
<ol>
  <li>Click on the search bar on the home page.</li>
  <li>Type in a suburb or street name you wish to search for restaurants in.</li>
  <li>Click on a restaurant to view its page. This page contains the restaurant's menu, rating, address, contact details and other general information.</li>
</ol>

<h3>Creating an account</h3>
<p>An account enables you to customise which restaurants are shown to you based on your dietary requirements.</p>
<ol>
  <li>Click on 'Sign Up' at the top right of any page.</li>
  <li>Enter in a unique username, password of at least 8 characters and a valid email address.</li>
  <li>If applicable, select your dietary requirements (otherwise just leave all the boxes unchecked).</li>
  <li>Click 'Create Account'. You will be redirected to the login page where you can then enter your new username and password to log in.</li>
</ol>

<h3>Sorting restaurants</h3>
<p>After searching for an address, you will be taken to a results page displaying a list of restaurants. There are two buttons above this list that can be used to sort it:</p>
<ul>
  <li>Clicking 'Rating' will sort the list based on restaurant ratings.</li>
  <li>Clicking 'Avg. Price' will sort the list based on average prices.</li>
</ul>

<h3>Sorting restaurant menus</h3>
<p>After loading a restaurant's page, a menu for that particular restaurant is shown. There are two buttons above the menu that can be used to sort it. Clicking '$' will sort items in ascending order based on their price. Clicking it a second time will sort them in descending order. Clicking &nbsp;<i class="glyphicon glyphicon-refresh"></i>&nbsp; will reset the menu back to its default ordering.</p>

<h3>Rating restaurants</h3>
<p>After you log in, you will be able to give restaurants a rating out of 5. Simply click on the number of stars you wish to give the restaurant to submit it, and the new average rating will be displayed. Note that only whole stars are shown, rounded to the nearest 0.5 (for example, a rating of 4.3 will show 4 stars whereas a rating of 4.7 will show 5 stars). Refer to the numerical rating underneath for the actual value.</p>

<h2 ng-if="loginVars().admin">Admin Privileges</h2>
<h3 ng-if="loginVars().admin">Adding restaurants</h3>
<p ng-if="loginVars().admin">The admin can add restaurants to the database by clicking 'Add Restaurant' on the top of the webpage. Clicking this button will redirect the admin to a page where they can input the details of a new restaurant, including its menu. Once the admin clicks 'Add restaurant' at the bottom of this page, the new restaurant will be added to the database for users to see.</p>

<h3 ng-if="loginVars().admin">Deleting restaurants</h3>
<p ng-if="loginVars().admin">The admin can delete restaurants within the database by simply clicking 'Delete' on a restaurant's page.</p>

<h2>Contact Us!</h2>
<p>For any enquiries please email us at <a href="mailto:contact@finefoodfinder.com">contact@finefoodfinder.com</a></p>