<link rel="stylesheet" href="styles/about.css">
<h1>About Us!</h1>
<br>
<p  style="text-align:center;">
	<img class="project-image" src="images/FineFoodFinderLogo.png">
</p>
<p> Fine Food Finder is the latest, innovative food finding application that allows you to discover a vast range of restaurants. It is availabe to any user and is completely free to use.</p>
<br>

<h1>How To Use Fine Food Finder</h1>
<h3> Searching For Restaurants </h3>
<p> 1. Click on the search bar on the home page </pr>
<p> 2. Type in a suburb or particular street you wish to search for restaurants in </p>
<p> 3. Click on a restaurant to look at its page. This page consists of that restaurant's contact details, general information, address, menu, and rating. </p> 
<br>

<h3> Creating An Account </h3>
<p> 1. Click on 'Sign Up' at the top right of any page </p>
<p> 2. Enter in a unique username, password of at least 8 characters, and an email address </p>
<p> 3. Click 'Create Account' (You will be redirected to the login page where you can then enter your new username and password to login) </p>
<br>

<h3> Logging Into Your Account </h3>
<p> 1. Click on 'Log in' at the top right of any page </p>
<p> 2. Enter in your username and password </p>
<p> 3. Click 'LOG IN' (You will be redirected to the home page) </p>
<p> Note: The top right of any page should now have a 'Log out' button </p>
<br>

<h3> Logging Out Of Your Account </h3>
<p> Simply click 'Log out' at the top right of any page </p>
<br>

<h3> Sorting Restaurants </h3>
<p> After searching an address, you are taken to a results page displaying a list of restaurants. There are two buttons above this list that are used to sort it. Clicking 'Rating' will sort the list in descending order based on restaurant ratings. Clicking it a second time will sort it in ascending order. Clicking 'Avg. Price' will perform the same sorting action as clicking 'Rating' but will sort it based on average price rather than rating.
<br>

<h3> Sorting Restaurant Menus </h3>
<p> After loading a restaurant's page, a menu for that particular restaurant can be identified. There are two buttons above the menu that are used to sort it. Clicking '$' will sort the list in ascending order based on the price of the items on that menu. Clicking it a second time will sort it in descending order. Clicking the other button will reset the menu back to its default setting (The version that you see when first loading the page).
<br>