<link rel="stylesheet" href="styles/signup.css">

<h2>Add a new restaurant</h2>

<form ng-submit="submit()" ng-controller="AddCtrl">
  <h3>General Details</h3>
  <div class="form-group">
    <label for="name"><b>Name</b></label>
    <input class="form-control" type="text" placeholder="Enter restaurant name" name="name" ng-model="name" required>
  </div>
  <div class="form-group">
    <label for="address"><b>Address</b></label>
    <input class="form-control" type="text" placeholder="Enter address (street, suburb)" name="address" ng-model="address" required>
  </div>
  <div class="form-group">
    <label for="postcode"><b>Post Code</b></label>
    <input class="form-control" type="number" placeholder="Enter postcode" name="postcode" ng-model="postcode" required>
  </div>
  <div class="form-group">
    <label for="email"><b>Email</b></label>
    <input class="form-control" type="email" placeholder="Enter email" name="email" ng-model="email" required>
  </div>
  <div class="form-group">
    <label for="contactnumber"><b>Contact Number</b></label>
    <input class="form-control" type="number" placeholder="Enter contact number" name="contactnumber" ng-model="contactnumber" required>
  </div>
  <div class="form-group">
    <label for="imgUrl"><b>Avatar Image</b></label>
    <input class="form-control" type="url" placeholder="Enter an avatar URL" name="imgUrl" ng-model="imgUrl">
  </div>
  <div class="form-group">
    <label for="info"><b>Info</b></label>
    <textarea class="form-control" rows="4" cols="97" placeholder="Enter restaurant info" name="info" ng-model="info"></textarea>
  </div>
  <div class="form-group">
    <label for="diet"><b>Available Diets:</b></label><br>
    <label><input type="checkbox" ng-model="checkboxModel.value1" ng-true-value="'Vegetarian'" ng-false-value="false"> Vegetarian</label><br/>
    <label><input type="checkbox" ng-model="checkboxModel.value2" ng-true-value="'Vegan'" ng-false-value="false"> Vegan</label>
    <br/>
    <label><input type="checkbox" ng-model="checkboxModel.value3" ng-true-value="'Halal'" ng-false-value="false"> Halal</label>
    <br/>
    <label><input type="checkbox" ng-model="checkboxModel.value4" ng-true-value="'Gluten Free'" ng-false-value="false"> Gluten Free</label>
    <br/>
  </div>
  <h3>Menu items</h3>
  <div class="form-group" ng-repeat="item in items track by $index">
    <div class="form-group">
      <label for="menuName"><b>Name</b></label>
      <input class="form-control" type="text" placeholder="Enter name of menu item" name="menuName" ng-model="items[$index].name">
    </div>
    <div class="form-group">
      <label for="menuDesc"><b>Description</b></label>
      <input class="form-control" type="text" placeholder="Enter description of menu item" name="menuDesc" ng-model="items[$index].description">
    </div>
    <div class="form-group">
      <label for="menuPrice"><b>Price ($)</b></label>
      <input class="form-control" type="number" placeholder="Enter price of menu item" name="menuPrice" ng-model="items[$index].price">
    </div>    
    <input type="button" class="btn btn-warning" ng-click="deleteRow($index)" value="Remove item" ng-show="items.length != 1">
    <input type="button" class="btn btn-primary" ng-click="addRow()" value="Add more" ng-show="$last">
    <br>
  </div>
  <br>
  <br>
  <div class="form-group">
    <button type="submit" class="btn btn-success">Add restaurant</button>
  </div>
</div>
<br>