
<link rel="stylesheet" href="styles/login.css">
<div class="jumbotron">
  <h1>Login!</h1>
  <br>
  <p>
    Please login to personalsie your search
  </p>
</div>

<br>
<div class="container">
  <label><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="uname" required>
</div>
<br>
<div>
  <label><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="psw" required>

  <button type="submit">Login</button>
  <input type="checkbox" checked="checked"> Remember me
</div>

<div class="container" style="background-color:#f1f1f1">
  <button type="button" class="cancelbtn">Cancel</button>
  <span class="psw">Forgot <a href="#">password?</a></span>
</div>
