<p id="time"></p>
<div class="jumbotron">
  <h1>Find some food!</h1>
  <br>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Let's go! <span class="glyphicon glyphicon-ok"></span></a></p>
</div>
<div>
	<form action=""> 
		<div class="row">
				<div class="input-group" id="search-form">
					<input type="text" class="form-control" placeholder="Search..." id="search"/>
					<div class="input-group-btn">
						<button class="btn btn-primary" id="search-button" type="submit">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</div>
				</div>
		</div>
	</form>
</div>


<div class="Search box">
    <button type="button"
    onclick="document.getElementById('demo').innerHTML = Date()">Search!</button>

    <p id="demo">Search will be a list here... Somehow.</p>
</div>

<div class="row marketing">
  <h4>Feature 1</h4>
  <p>Feature 1 Description</p>

  <h4>Feature 2</h4>
  <p>Feature 2 Description</p>

  <h4>Feature 3</h4>
  <p>Feature 3 Description</p>
</div>

<script>
    $(document).ready(function () {
    $('.nav li a').click(function(e) {

        $('.nav li').removeClass('active');

        var $parent = $(this).parent();
        if (!$parent.hasClass('active')) {
            $parent.addClass('active');
        }

    });
});
</script>

<script>
    var myVar = setInterval(myTimer, 1000);
    function myTimer() {
        var d = new Date();
        document.getElementById("time").innerHTML = d.toLocaleTimeString();
    }
</script>