<div ng-controller="LoginCtrl">
  <h3 class="text-center" style="color:black; font-weight: bold; text-transform: capitalize;" >Welcome{{loginVars().currentUser}}!</h3>
</div>
<div class="jumbotron">
  <br>	
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
	<form ng-submit="search()"> 
  	<div class="input-group grow grow:hover" style="width: 100%" id="search-form">
  		<input type="text" style="color: black; font-weight: bold; border-width: 1.5px; border-right-width: 0px; border-color: black; height: 40px;" class="form-control" placeholder="Where do you feel like eating today? (Search for an address)" ng-model="query.address" required>
     
  		<div class="input-group-btn">
  			<button class="btn btn-primary" id="search-button" type="submit" style="border-width: 1.5px; border-left-width: 0px; border-color: black; height: 40px;">
  				<span class="glyphicon glyphicon-search"></span>
  			</button>
  		</div>
  	</div>
	</form>
  <br>
  <br>
  <br>
</div>

<div class="row marketing">
  <h3>Discover new restaurants</h3>
  <p>Search for restaurants by location. Check out menus, prices and ratings before you go.</p>

  <h3>Personalise your experience</h3>
  <p>Create an account to gain access to additional features.</p>

  <h3>Get involved</h3>
  <p>Share your experiences by rating restaurants using our user-friendly, star rating system.</p>
</div>