<div class="jumbotron">
  <h1>Find some food!</h1>
  <br>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Let's go! <span class="glyphicon glyphicon-ok"></span></a></p>
</div>
<div class="container">
    <div class="row">
        <div class="searchbar">
            <form action="" class="search-form">
              <div class="form-group has-feedback">
                <input type="text" class="form-control" name="search" id="search" placeholder="Search...">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
              </div>
            </form>
        </div>
    </div>
</div>
<div class="Search box">
    <button type="button"
    onclick="document.getElementById('demo').innerHTML = Date()">Search!</button>

    <p id="demo">Search will be a list here... Somehow.</p>
</div>

<div class="row marketing">
  <h4>Feature 1</h4>
  <p>Feature 1 Description</p>

  <h4>Feature 2</h4>
  <p>Feature 2 Description</p>

  <h4>Feature 3</h4>
  <p>Feature 3 Description</p>
</div>
