<link rel="stylesheet" href="styles/restaurant.css">
<br>
<div ng-controller="RestCtrl" class="container text-center">    
  <div class="row" style="padding-right: 15px;">
    <div class="col-sm-4 well" id="mainBorder">
      <div class="well" id="lowerBorder">
        <h2 style="font-weight: bolder;">{{rest.name}}</h2>
        <img src="{{rest.imageUrl}}" class="img" height="100" alt="Avatar">
      </div>
      <div class="well" align="left" id="starBorder">
        <div fundoo-rating rating-value="rating" max="5" class="inactiveLink"></div>
      </div>
      <div class="well" align="left" id="lowerBorder">
        <h2>About Us:</h2>
        <p>{{rest.info}}</p>
      </div>
      <div class="well" align="left" style="word-wrap: break-word;" id="lowerBorder">
        <h2>Details:</h2>
        <p>{{rest.address}}</p>
        <p>{{rest.postcode}}</p>
        <p>{{rest.email}}</p>
        <p>{{rest.contactnumber}}</p>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default" id="mainBorder">
            <div class="panel-body">
              <h2>Menu:</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="well" align="left" id="lowerBorder" ng-init="count=0">
            <div ng-if="menuData.length" style="float: right;">
              <button type="button" class="btn btn-labeled btn-default" ng-click="resetMenu()">
                  <span class="btn-label"><i class="glyphicon glyphicon-refresh"></i></span></button>
              <button type="button" class="btn btn-labeled btn-default" ng-click="count=count+1; descendingSort()" ng-hide="count==1">
                  <span class="btn-label"><i class="glyphicon glyphicon-chevron-up"></i></span> $</button>
              <button type="button" class="btn btn-labeled btn-default" ng-click="count=count-1; ascendingSort()" ng-hide="count==0">
                  <span class="btn-label"><i class="glyphicon glyphicon-chevron-down"></i></span> $</button>
              <br>
              <br>
            </div>
            <table class="table table-hover" ng-if="menuData.length">
              <thead>
                <tr>
                  <th id="tableHeadSize">What's Available</th>
                  <th id="tableHeadSize">Price</th>
                </tr>
              </thead>
              <tr ng-repeat="menu in menuData">
                <td ng-click="show = !show">
                  <u>{{menu.name}}</u>
                  <br>
                  <p ng-show="show">
                    <br>
                    <i>{{menu.description}}</i>
                  </p>
                </td>
                <td>${{menu.price}}</td>
              </tr>
            </table>
            <p ng-if="!menuData.length">
              <i>No menu currently available</i>
            </p>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>
<br>