<link rel="stylesheet" href="styles/about.css">
<div class="container text-center">    
  <div class="row">
    <div class="col-sm-4 well">
      <div class="well">
        <h2>{{rest.name}}</h2>
        <img src="#" class="img-circle" height="100" width="100" alt="Avatar">
      </div>
      <div class="well" align="left">
        <h2>About Us</h2>
        <p>{{rest.info}}</p>
      </div>
      <div class="well" align="left">
        <h2>Details:</h2>
        <p>{{rest.address}}</p>
        <p>{{rest.postcode}}</p>
        <p>{{rest.email}}</p>
        <p>{{rest.contactnumber}}</p>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <h2>Menu</h2>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-12">
          <div class="well" align="left">
            <p>Menu items here...</p>
          </div>
        </div>
      </div>   
    </div>
  </div>
</div>