<link rel="stylesheet" href="styles/restaurant.css">
<br>
<div ng-controller="RestCtrl" class="container text-center">
  <div class="row" style="padding-right: 15px;">
    <form ng-submit=delete()>
      <div class="form-group" ng-if="loginService.loginVars.admin" style="float: center;">
        <button type="submit" class="btn btn-danger delButton">Delete</button>
      </div>
    </form>
    <div class="col-sm-4 well" id="mainBorder">
      <div class="well" id="lowerBorder">
        <h2 style="font-weight: bolder;">{{rest.name}}</h2>
        <img src="{{rest.imageUrl}}" class="img" height="100" alt="Avatar">
      </div>
      <div class="well" align="center" id="lowerBorder">
        <div fundoo-rating rating-value="rating" max="5" on-rating-selected="saveRatingToServer(rating)" ng-show="loginService.loginVars.loggedIn"></div>
        <div fundoo-rating rating-value="rating" max="5" class="inactiveLink" ng-if="!loginService.loginVars.loggedIn"></div>
        <p><b>Current Rating: {{rest.rating}}<b></p>
      </div>
      <div class="well" align="left" id="lowerBorder">
        <h2>About</h2>
        <p>{{rest.info}}</p>
      </div>
      <div class="well" align="left" style="word-wrap: break-word;" id="lowerBorder">
        <h2>Details</h2>
        <p>{{rest.address}} {{rest.postcode}}</p>
        <p><a href="mailto:{{rest.email}}">{{rest.email}}</a></p>
        <p><a href="tel:{{rest.contactnumber}}">{{rest.contactnumber}}</a></p>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-12">
          <div class="well" align="left" id="lowerBorder">
            <span class="menuTitle">MENU</span>
            <div ng-if="menuData.length" style="float: right;">
              <button type="button" class="btn btn-labeled btn-default" title="Reset price sorting" ng-click="resetMenu()">
                  <span class="btn-label"><i class="glyphicon glyphicon-refresh"></i></span></button>
              <button type="button" class="btn btn-labeled btn-default" title="Sort prices in increasing order" ng-click="sort = !sort; ascendingSort()" ng-show="!sort">
                  <span class="btn-label"><i class="glyphicon glyphicon-chevron-up"></i></span> $</button>
              <button type="button" class="btn btn-labeled btn-default" title="Sort prices in decreasing order" ng-click="sort = !sort; descendingSort()" ng-show="sort">
                  <span class="btn-label"><i class="glyphicon glyphicon-chevron-down"></i></span> $</button>
              <br>
              <br>
            </div>
            <table class="table table-hover" ng-if="menuData.length">
              <thead>
                <tr>
                  <th id="tableHeadSize">Item</th>
                  <th id="tableHeadSize">Price</th>
                </tr>
              </thead>
              <tr ng-repeat="menu in menuData">
                <td ng-click="show = !show">
                  {{menu.name}}
                  <br>
                  <p ng-show="show">
                    <br>
                    <em style="font-weight: normal;">{{menu.description}}</em>
                  </p>
                </td>
                <td>${{menu.price}}</td>
              </tr>
            </table>
            <p ng-if="menuData.length">
              <em>Click on any item to view its description.</em>
            </p>
            <p ng-if="!menuData.length">
              <em>Menu currently not available.</em>
            </p>
          </div>
          <br>
          <div>
            <span class="menuTitle">Gallary</span>
          </div>
          <br>
          <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" style="border-color: black; border-width: 2px;" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" style="border-color: black; border-width: 2px;" data-slide-to="1"></li>
              <li data-target="#myCarousel" style="border-color: black; border-width: 2px;" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" >
              <div class="item active">
                <img src="{{rest.menuImages.image1}}">
              </div>

              <div class="item">
                <img src="{{rest.menuImages.image2}}">
              </div>

              <div class="item">
                <img src="{{rest.menuImages.image3}}">
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>
<br>
<script type="text/javascript">
  $(document).ready(function() {
    $('.carousel').carousel({
      interval: 2500
    })
  });
</script>